.linkTopHeader {
    text-decoration: none;
    color: #fff;
}

.iconTopHeader {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fff;
}

.iconTopHeader svg {
    display: flex;
    align-items: center;
}

.linkTopHeader span {
    font-size: 1rem;
    padding: 10px 20px;
}

.header {
    width: 100%;
    height: 100%;
    background-image: url("../header/img/bgHeaderBook.png");
    background-size: cover;
}

.bestSeller {
    margin-left: 30px;
}





.topHeader {
    display: flex;
    width: 100%;
    height: 3%;
    padding: 10px;
    background: #000;
    display: flex;
    opacity: 0.5;
    align-items: center;
}

.leftTopHeader {
    display: flex;
    width: 50%;
}

.rightTopHeader {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.bestSeller,
.blog,
.loveProduct,
.email,
.account {
    position: relative;
    padding: 0px 0.5rem;

}




.middleHeader {
    display: flex;
    width: 100%;
    color: #fff;
    opacity: 0.9;
    height: 10%;
    background: #1e3799;
}

.leftMiddleHeader {
    width: 20%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.logo img {
    width: 6rem;
    display: flex;
    align-items: center;
}

.centerMiddleHeader {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    display: flex;
    align-items: center;
    border-right: 1px solid #000;
}

.filter h1 {
    padding: 10px;
}

.filter span {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter span svg {
    font-size: 1.5rem;
}

.search {
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 0 2px 1px #fff;
}

.search input {
    width: 60%;
    height: 70%;
    border: none;
    border-radius: 50px;
    font-size: 50px;
    color: #544540 !important;
}

.iconSearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconSearch svg {
    font-size: 1.5rem;
}

.elseMiddleHeader {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    position: relative;
}

.iconCart {
    color: #fff;
}

.iconCart sup {
    position: absolute;
    bottom: 80%;
    left: 100%;
}

.iconCart svg {
    font-size: 2rem;
}



.navbar {
    width: 100%;
    padding: 1px;
    opacity: 0.4;
    height: 6%;
    display: flex;
    align-items: center;
    color: #fff;
    background: #000;
}

.navbarContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkNavbar {
    text-decoration: none;
    color: #fff;
    padding: 2rem;
}

.author .linkNavbar {
    padding: 0px 10px !important;
}

.type .linkNavbar {
    padding: 0px 10px !important;
}

.author span {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.type span {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.type,
.author {
    display: flex;
    align-items: center;
    padding: 30px 20px;
}


.elseHeader {
    width: 100%;
    height: 81%;
}

.elseHeader button {
    display: none;
}

.greeting {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
}

.greeting h1 {
    font-size: 3rem;
    color: #fff;
    padding: 3rem 0rem 0.5rem 0rem;
}

.greeting h1 span {
    font-size: 3rem;
    color: #000;
}

.greeting h2 {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem;
}

.message {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.messageContent {
    background: #000;
    width: 80%;
    height: 80%;
    padding: 1rem;
    display: flex;
}

.leftMessageContent {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 3px #1e3799;
    
}

.leftMessageContent img {
    width: 90%;
    height: 100%;
    padding: 20px;
}

.rightMessageContent {
    width: 60%;
    margin-left: 5px;
    height: 100%;
    padding:10px 20px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.rightMessageContent span{
    padding: 5px 0px;
    font-size: 1.1rem;
}